h1 Clarky cat
#container
    p Arrows to move, space to jump.

#playarea.playarea
    &nbsp;

#infoarea.infoarea
    &nbsp;

#chatarea.chatarea
  #messages.messages
  #saytext Say:
  textarea(id= 'chatinput')